<a href="https://colab.research.google.com/github/rahulraj0621/ozi_assignment/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print(f'User uploaded file "{fn}" with length {len(uploaded[fn])} bytes')

Saving feedback.csv to feedback.csv
Saving order_events.csv to order_events.csv
Saving orders.csv to orders.csv
Saving users.csv to users.csv
User uploaded file "feedback.csv" with length 423388 bytes
User uploaded file "order_events.csv" with length 5613824 bytes
User uploaded file "orders.csv" with length 1883258 bytes
User uploaded file "users.csv" with length 140620 bytes

In [3]:
users = pd.read_csv('users.csv')
orders = pd.read_csv('orders.csv')
events = pd.read_csv('order_events.csv')
feedback = pd.read_csv('feedback.csv')

In [4]:
events['event_timestamp'] = pd.to_datetime(events['event_timestamp'])

In [5]:
pickups = events[events['event_status'] == 'PICKED_UP'][['order_id', 'event_timestamp']]
deliveries = events[events['event_status'] == 'DELIVERED'][['order_id', 'event_timestamp']]

In [6]:
duration_table = pd.merge(pickups, deliveries, on='order_id', suffixes=('_pick', '_drop'))

In [7]:
duration_table = pd.merge(pickups, deliveries, on='order_id', suffixes=('_pick', '_drop'))

In [29]:
duration_table.head()

    order_id event_timestamp_pick event_timestamp_drop
0  ORD_00000  2024-02-09 09:09:00  2024-02-09 09:35:00
1  ORD_00001  2024-01-15 15:20:00  2024-01-15 15:44:00
2  ORD_00002  2024-01-14 14:30:00  2024-01-14 14:50:00
3  ORD_00003  2024-02-13 09:57:00  2024-02-13 10:09:00
4  ORD_00004  2024-02-19 14:57:00  2024-02-19 16:34:00

In [8]:
master = pd.merge(orders, duration_table, on='order_id', how='inner')

In [9]:
master = pd.merge(master, feedback, on='order_id', how='left')

In [10]:
master = pd.merge(master, users, on='user_id', how='left')

In [11]:
master['order_date'] = pd.to_datetime(master['order_date'])

In [27]:
master.head()

,order_id,user_id,order_amount,promised_time_mins,order_date,event_timestamp_pick,event_timestamp_drop,rating,city,signup_date,actual_time_mins
0,ORD_00000,U_02674,395,60,2024-02-09,2024-02-09 09:09:00,2024-02-09 09:35:00,NaN,Delhi,2023-12-26,26.0
1,ORD_00001,U_02447,2459,30,2024-01-15,2024-01-15 15:20:00,2024-01-15 15:44:00,5.0,Gurgaon,2023-12-25,24.0
2,ORD_00002,U_02255,4973,30,2024-01-14,2024-01-14 14:30:00,2024-01-14 14:50:00,NaN,Bangalore,2023-12-24,20.0
3,ORD_00003,U_02470,1232,45,2024-02-13,2024-02-13 09:57:00,2024-02-13 10:09:00,2.0,Mumbai,2024-01-27,12.0
4,ORD_00004,U_01513,1208,60,2024-02-19,2024-02-19 14:57:00,2024-02-19 16:34:00,4.0,Delhi,2023-11-28,97.0

In [12]:
threshold_value = master['order_amount'].mean()
print(f"High Value Threshold (Mean): {threshold_value:.2f}")

High Value Threshold (Mean): 1429.86

In [13]:
jan_orders = master[master['order_date'].dt.month == 1]

In [30]:
jan_orders.head()

,order_id,user_id,order_amount,promised_time_mins,order_date,event_timestamp_pick,event_timestamp_drop,rating,city,signup_date,actual_time_mins
1,ORD_00001,U_02447,2459,30,2024-01-15,2024-01-15 15:20:00,2024-01-15 15:44:00,5.0,Gurgaon,2023-12-25,24.0
2,ORD_00002,U_02255,4973,30,2024-01-14,2024-01-14 14:30:00,2024-01-14 14:50:00,NaN,Bangalore,2023-12-24,20.0
5,ORD_00005,U_04673,1595,30,2024-01-03,2024-01-03 12:29:00,2024-01-03 12:53:00,1.0,Bangalore,2023-11-09,24.0
6,ORD_00006,U_03179,3797,30,2024-01-17,2024-01-17 10:10:00,2024-01-17 10:31:00,NaN,Bangalore,2023-11-03,21.0
8,ORD_00008,U_02556,4120,30,2024-01-19,2024-01-19 18:59:00,2024-01-19 19:16:00,4.0,Mumbai,2023-11-11,17.0

In [16]:
master['actual_time_mins'] = (master['event_timestamp_drop'] - master['event_timestamp_pick']).dt.total_seconds() / 60
jan_orders = master[master['order_date'].dt.month == 1]

In [17]:
happy_high_value_jan = jan_orders[
    (jan_orders['order_amount'] > threshold_value) &
    (jan_orders['rating'] >= 4) &
    (jan_orders['actual_time_mins'] <= jan_orders['promised_time_mins'])]

In [18]:
vip_jan_users = happy_high_value_jan['user_id'].unique()
print(f"Happy VIP Users in Jan: {len(vip_jan_users)}")

Happy VIP Users in Jan: 1790

In [19]:
feb_orders = master[master['order_date'].dt.month == 2]

In [20]:
returning_vips = feb_orders[feb_orders['user_id'].isin(vip_jan_users)]['user_id'].unique()

In [21]:
print(f"Returning_vips in Feb: {len(returning_vips)}")

Returning_vips in Feb: 1313

In [22]:
retention_rate = (len(returning_vips) / len(vip_jan_users)) * 100

In [23]:
print(f"Retention Rate of Happy High-Value Users: {retention_rate:.2f}%")

Retention Rate of Happy High-Value Users: 73.35%

In [24]:
avg_fleet_time = master['actual_time_mins'].mean()

In [25]:
print(f"Average Fleet Delivery Time: {avg_fleet_time:.2f} minutes")

Average Fleet Delivery Time: 31.18 minutes